.App {
  text-align: center;

  display: flex;
  justify-content: center;
  margin-top: 40px;
}
table
{
  margin-top: 10px;
}
table > h1
{
  margin-left: 2px;
}
.wrapper
{
  display: flex;
  flex-direction: column;
  width: 100vw;

  /* background-color: violet; */
}


.gradient-background {
  background: linear-gradient(300deg,deepskyblue,darkviolet,blue,white,#ff0000,#ff0000,#000000,#3f8144,#00ff17,#e600ff,#e600ff,#857687);
  background-size: 720% 720%;
  animation: gradient-animation 72s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*
{
  background: linear-gradient(300deg,deepskyblue,darkviolet,blue,white,#ff0000,#ff0000,#000000,#3f8144,#00ff17,#e600ff,#e600ff,#857687);
  background-size: 720% 720%;
  animation: gradient-animation 72s ease infinite;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
